<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>SwitchChange</key>
				<string>SwitchChange</string>
				<key>targetVC</key>
				<string>CDNumViewController</string>
				<key>title</key>
				<string>aaa</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>SwitchChange</key>
				<string>SwitchChange0</string>
				<key>title</key>
				<string>aaa</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>SwitchChange</key>
				<string>SwitchChange1</string>
				<key>title</key>
				<string>aaa</string>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>SwitchChange</key>
				<string>SwitchChange2</string>
				<key>title</key>
				<string>aaa</string>
				<key>image</key>
				<string></string>
			</dict>
		</array>
		<key>footer</key>
		<string>bbbbb</string>
		<key>header</key>
		<string>ccccc</string>
	</dict>
	<dict>
		<key>header</key>
		<string>哈哈哈😂</string>
		<key>footer</key>
		<string>暴富</string>
		<key>items</key>
		<array>
			<dict>
				<key>SwitchChange</key>
				<string>SwitchChange3</string>
				<key>title</key>
				<string>aaa</string>
				<key>image</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>aaaa</string>
		<key>footer</key>
		<string>aaaa</string>
		<key>items</key>
		<array>
			<dict>
				<key>SwitchChange</key>
				<string>SwitchChange4</string>
				<key>title</key>
				<string>aaa</string>
				<key>image</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
